.add {
    width: 50px;
    height: 50px;
    bottom: 100px;
    right: 50px;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: none !important;
}

.form-cont {
    height: 500px;
    width: 500px;
}
